

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #787878;
    background-color: #E0E0E0;
}


div.wrapper {
    display: block;
    margin: 0 0 1px 0;
    text-align: left;
}

#header {
    text-align: center;
    text-transform: uppercase;
}

div.wrapper h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
}

#header h1 #header p {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

a {
    outline: none;
    text-decoration: none;
    color: #f3f5;
    background-color: #E0E0E0;
}

div.wrapper #header h1 a {
    font-size: 100px;
    color: #292929;
    background-color: #E0E0E0;
}

#header p {
    margin-top: -20px;
    font-size: 20px;
    color: #4A4A4A;
    background-color: #E0E0E0;
}

#topnav {
    z-index: 1000;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #000000;
    padding: 20px 0;
    margin-bottom: 30px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.nav li {
    position: relative;
    display: inline-block;
    zoom: 1;
    background: #E0E0E0;
}

.nav a {
    display: block;
    position: relative;
    padding: 0.75em 1em;
    text-decoration: none;
    background-color: #E0E0E0;
    color: #333333;
}

.nav li a {
    padding-left: 1.5em;
    text-align: left;
}

.nav a:hover {
    background: #C0C0C0;
}


.clear {
    clear: both;
}

.container {
    display: block;
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1px solid #999999;
    border-bottom: #999999;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.whitebox {
    padding: 30px;
    color: #999999;
    background-color: #fffff3;
}

.whitebox .line {
    display: block;
    float: left;
    width: 900px;
    margin: 0 30px 0 0;
    padding: 0;
}

.line img {
    display: inline;
    float: left;
}

.line strong { 
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    color: #4A4A4A;
    background-color: white;
}

.line p {
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
    clear: both;
    line-height: 1.6em;
}
.line span{
    color: #4a4a3a;
}
#page_middle {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 960px;
    padding: 30px 0 0 0;
}

#page_middle ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#page_middle li {
    display: block;
    float: left;
    width: 300px;
    margin: 0 30px 0 0;
    padding: 0;
}

#page_middle .video {
    display: block;
    width: 260px;
    margin: 0;
    padding: 0 20px 22px 20px;
    background: url(#) bottom left no-repeat;
}

#page_middle img {
    display: inline;
}

#page_middle li.last {
    margin-right: 0;
}

.whitebox-2 {
    color: #999999;
}

.whitebox-2 .container {
    background-color: white;
    
}
.whitebox-2 .container .content{
    margin-top: 30px;
    padding: 20px 30px;
    padding-top: 0;
    border-bottom: 10px solid #E0E0E0;
}
.whitebox-2 .container .content span{
    color: #4A4A4A;
}
.whitebox-2 .container .content-last{
    border-bottom: none;
}
br.clear {
    clear: both;
    margin-top: -15px;
}

#copyright {
    padding: 15px 0;
    font-size: 12px;
    border-top: 1px solid #999999;
}

.org {
    float: left;
}

#copyright {
    color: #787878;
}